body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    height: 64px;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-1);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.breadcrumbs {
    display: flex;
    gap: 16px;
}



main {
    margin: 64px 16px 0 16px;
    padding-top: 16px;
    overflow: auto;

    --grid-layout-gap: 16px;
    --grid-column-count: 10;
    --grid-item--min-width: 300px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-auto-rows: 200px;
    grid-gap: var(--grid-layout-gap);
    place-items: center;
    padding-bottom: 64px;
}






main .deck {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px,
        rgba(240, 46, 170, 0.2) 15px 15px,
        rgba(240, 46, 170, 0.1) 20px 20px,
        rgba(240, 46, 170, 0.05) 25px 25px;

    width: 240px;
    aspect-ratio: 16/10;
    background-color: rgba(240, 46, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    opacity: 0.8;

    transition: opacity 250ms linear;
}
main .deck:hover {
    opacity: 1;
    transition: opacity 0ms linear;
}



main .stack {
    width: 270px;
    aspect-ratio: 16/10;
    border-radius: 8px;
    background-color: var(--container-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}



main .card {
    width: 300px;
    aspect-ratio: 16/10;
    border-radius: 8px;
    background-color: var(--container-opposite-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

main .card.attachment {
    box-shadow: #70351b 16px 16px;
}

main .deck > *:first-child,
main .stack > *:first-child,
main .card > *:first-child {
    margin-top: 40px;
}

main .deck:hover,
main .stack:hover {
    cursor: pointer;
}
main > div h3,
main > div span {
    text-align: center;
}


main > * {
    position: relative;
}
main .abs {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    color: black;

    transition: background-color linear 200ms 150ms, width ease-in-out 200ms 100ms, height ease-in-out 200ms;
}
main .abs.border-radius {
    border-radius: 8px;
}
main .abs svg {
    color: black !important;
    width: 100%;
    height: 100%;
}
main .abs .visible {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
}
main .abs .options {
    height: 100%;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;

    transition: visibility 0ms 500ms, opacity linear 250ms;
}

main .abs.hover {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    cursor: default;
    backdrop-filter: blur(5px);

    transition: background-color linear 200ms, width ease-in-out 200ms, height ease-in-out 200ms 100ms;
}

main .abs.hover .options {
    visibility: visible;
    opacity: 1;

    transition: visibility 0ms, opacity linear 250ms 250ms;
}

main .option {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;

    transition: background-color 200ms linear;
}
main .option:hover {
    background-color: rgba(221, 221, 221, 0.7);
    cursor: pointer;

    transition: background-color 20ms linear;
}




.window.form#manage-privileges {
    width: min(700px, 90vw);
}
.window.form #team {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    border-bottom: 1px solid var(--text-color-2);
    border-top: 1px solid var(--text-color-2);
    overflow: auto;
}
.window.form #team .member {
    display: grid;
    grid-template-columns: 1fr 64px 64px;
    place-items: center;
    width: 100%;
    padding: 8px 0;
}
.window.form #team .member:hover {
    background-color: var(--container-1);
}
.window.form #team .member :first-child {
    place-self: center start;
}
.window.form #team .member :last-child {
    place-self: center end;
}





@media only screen and (max-width: 470px) {
    main.add-able {
        grid-template-rows: 80px;
    }

    main {
        margin-right: unset;
        margin-left: unset;
    }

    main .card {
        width: 250px;
    }

    main .stack {
        width: 250px;
    }

    main .deck > *:first-child,
    main .stack > *:first-child,
    main .card > *:first-child {
        margin-top: 32px;
    }
}